html {
  color: gold;
  background-color: navy;
}

h1 {
  font-family: "Lobster", Verdana;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}


h3 {
  font-family: Verdana;
  text-align: center;
}

ul {
  position: relative; 
  display: inline-block; 
  padding-left: 1em; 
  left: 50%; 
  transform: translateX(-50%)
}

nav {
  background: navy;
  text-align: center;
  padding: 16px;
  margin-bottom: 10px;
  width: 100%;
  font-family: Verdana;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 0;
  margin: 0;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
  text-decoration: none;
  color: white;
  font-size: 24px;
  font-weight: bold;
  padding: 15px 25px;
  transition: background 0.3s, color 0.3s;
  border-radius: 10px;
  background: coral;
}

nav ul li a:hover {
  background: orange;
  text-decoration: underline;
}

td, th {
  border: 1px solid;
  padding: 10px;
  text-align: center;
  justify-content: center;
}


#video_games {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  text-align: center;
  
}

#programming {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  text-align: center;
}

#chess {
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
  justify-content: center;
  text-align: center;
}

#stormi {
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
}

#virginia {
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
}

#carter {
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
}

#sabrina {
  margin-top: 2.5%;
  justify-content: center;
  text-align: center;
}

#zilla {
  margin-top: 2.5%;
  margin-bottom: 2.5%;
  justify-content: center;
  text-align: center;
}

#product_video {
  margin-bottom: 0.5%;
}

#job_experiences {
  position: relative; 
  display: inline-block; 
}

#hobbies {
  justify-content: center;
  text-align: center;
}

#pets {
  justify-content: center;
  text-align: center;
}

#education_heading {
  text-align: left;
  margin-top: -0.25%;
  margin-bottom: -5%;
}

#education {
  position: relative; 
  display: inline-block; 
}

#contact_heading {
  text-align: left;
}

#skills_heading {
  text-align: left;
  margin-top: 2%;
}

#jobs_heading {
  text-align: left;
  margin-top: 2%;
  margin-bottom: -1%;
}
  
#video_heading {
  text-align: left;
  margin-top: -0.5%;
}

#map {
  height: 400px;
  width: 100%;
}

@media screen and (max-width: 480px) {
  #resume_container * {
    font-size: 50%;
	justify-content: center;
	text-align: center;
  }
  
  nav * {
	gap: 20%;
	width: 20%;
  }
}

@media screen and (max-width: 600px) {
  #resume_container * {
    font-size: 50%;
	justify-content: center;
	text-align: center;
  }
  
  nav * {
	gap: 20%;
	width: 20%;
  }
}